In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'key1':['a','a','b','b','a'],'key2':['one','two','one','two','one'],'data1':np.random.randn(5),'data2':np.random.randn(5)})

In [5]:
df

      data1     data2 key1 key2
0 -1.840817  0.105632    a  one
1  0.701842  1.666998    a  two
2  0.668406 -0.387363    b  one
3 -0.788391 -0.277630    b  two
4  0.439182  0.658800    a  one

In [7]:
pd.crosstab(df.key1, df.key2, margins=True)

key2  one  two
key1
a       2    1
b       1    1